/* fonts */
@font-face{
    font-family: "sf ui display";
    src: url(../assets/fonts/sf-ui-display-black-58646a6b80d5a.otf);
    font-weight: 800;
}
 @font-face{
    font-family: "sf ui display";
    src: url(../assets/fonts/sf-ui-display-bold-58646a511e3d9.otf);
    font-weight: 700;
}
@font-face{
    font-family: "sf ui display";
    src: url(../assets/fonts/sf-ui-display-heavy-586470160b9e5.otf);
    font-weight: 900;
}
@font-face{
    font-family: "sf ui display";
    src: url(../assets/fonts/sf-ui-display-light-58646b33e0551.otf);
    font-weight: 300;
}
@font-face{
    font-family: "sf ui display";
    src: url(../assets/fonts/sf-ui-display-medium-58646be638f96.otf);
    font-weight: 500;
}
@font-face{
    font-family: "sf ui display";
    src: url(../assets/fonts/sf-ui-display-semibold-58646eddcae92.otf);
    font-weight: 600;
}
@font-face{
    font-family: "sf ui display";
    src: url(../assets/fonts/sf-ui-display-thin-58646e9b26e8b.otf);
    font-weight: 100;
}
@font-face{
    font-family: "sf ui display";
    src: url(../assets/fonts/sf-ui-display-ultralight-58646b19bf205.otf);
    font-weight: 200;
}
@font-face{
    font-family: "New York Extra";
    src: url(../assets/fonts/NewYorkExtraLargeBold.otf);
    font-weight: 800;
} 

/* all  */
*{
    font-family: "sf ui display";
    margin: 0;
    padding: 0;
}
a{
    color: #585858;
    font-weight: 300;
    text-decoration: none;
    letter-spacing: 0.01em;
    font-style: normal;
}
p{
    letter-spacing: 0.01em;
    color: #000000;
    font-weight: 500;
    line-height: 160%; 
}
button{
    background-color: #FD665E;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    outline: none;
}
.order-1{
    order: 2;
}
.order-2{
    order: 1;
}
.d-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* navigation menu */
.nav__menu{
    display: flex;
    justify-content: space-between;
    width: 93%;
    /* 1359px/1440 */
    margin: auto;
    height: 100px;
    align-items: center;
}
.nav__item__col{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* left part nav menu */
.nav__item__col__left{
    width: 43%; 
    /* 581px/1440 */
}
.nav__menu ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 79%;
    /* 459px/581 */
}

/* right part nav menu */
.nav__item__col__right{
    width: 18%;
    /* 248px/1359 */
}
.btn__sing__up{
    width: 100px;
    height: 48px;
}
.btn__brg__menu{
    display: none;
}

/* laptop nav menu */
@media (max-width: 1024px) {
    .nav__item__col__left{
        width: 50%;
    }
    .nav__item__col__right{
        width: 25%;
    }
}
@media (max-width: 900px) {
    .nav__item__col__left{
        width: 70%;
    }
}

/* tablet nav menu */
@media (max-width: 768px) {
    .nav__item__col__left{
        width: 65%;
    }
    .nav__item__col__right{
        display: none;
    }
    .btn__brg__menu{
        display: block;
        width: 25px;
    }
}
@media (max-width: 680px) {
    .nav__item__col__left{
        width: 90%;
    }
}

/* mobile L nav menu */
@media (max-width: 426px) {
    .nav__menu ul{
        display: none;
    }
}


/* main */
.container{
    width: 77%;
    /* 1110px/1440 */
    margin: auto;
    margin-top: 50px;
}
.row{
    display: flex;
    justify-content: space-between;
}

/* title */
.title__site{
    width: 78%;
    /* 870px/1110 */
    font-size: 112px;
    font-family: "New York Extra";
    color: #000000;
    letter-spacing: -0.04em;
    
}
.title__site span{
    font-family: "New York Extra";
    color: #FD665E;
}

/* laptop title */
@media (max-width: 1024px) {
    .title__site{
        margin-top: 30px;
        font-size: 90px;
    }
}
@media (max-width: 920px) {
    .title__site{
        font-size: 70px;
    }
}

/* tablet title */
@media (max-width: 768px) {
    .title__site{
        font-size: 65px;
    }
}

/* button Free Consultation */
.btn__free__consultation{
    width: 179px;
    height: 56px;
}
.btn__free__consultation{
    margin-bottom: 75%;
}


/* laptop first row */
@media (max-width: 1024px) {
    .row{
        flex-direction: column;
        align-items: center;
    }
    .order-1{
        order: 1;
    }
    .order-2{
        order: 2;
    }
    .description{
        width: 50%;
    }
    .d-flex{
        flex-direction: row;
        align-items: center;
    }
    .btn__free__consultation{
        margin-bottom: 0;
    }
}

/* mobile first row */
@media (max-width: 426px) {
    .d-none{
        display: none;
    }
    .description{
        width: 100%;
    }
    .d-flex{
        flex-direction: column;
        align-items: baseline;
    }
    .btn__free__consultation{
        margin-top: 35px;
        align-self: center;
    }
}











