/* fonts */
@font-face{
    font-family: "sf ui display";
    src: url(../assets/fonts/sf-ui-display-black-58646a6b80d5a.otf);
    font-weight: 800;
}
 @font-face{
    font-family: "sf ui display";
    src: url(../assets/fonts/sf-ui-display-bold-58646a511e3d9.otf);
    font-weight: 700;
}
@font-face{
    font-family: "sf ui display";
    src: url(../assets/fonts/sf-ui-display-heavy-586470160b9e5.otf);
    font-weight: 900;
}
@font-face{
    font-family: "sf ui display";
    src: url(../assets/fonts/sf-ui-display-light-58646b33e0551.otf);
    font-weight: 300;
}
@font-face{
    font-family: "sf ui display";
    src: url(../assets/fonts/sf-ui-display-medium-58646be638f96.otf);
    font-weight: 500;
}
@font-face{
    font-family: "sf ui display";
    src: url(../assets/fonts/sf-ui-display-semibold-58646eddcae92.otf);
    font-weight: 600;
}
@font-face{
    font-family: "sf ui display";
    src: url(../assets/fonts/sf-ui-display-thin-58646e9b26e8b.otf);
    font-weight: 100;
}
@font-face{
    font-family: "sf ui display";
    src: url(../assets/fonts/sf-ui-display-ultralight-58646b19bf205.otf);
    font-weight: 200;
}
@font-face{
    font-family: "New York Extra";
    src: url(../assets/fonts/NewYorkExtraLargeBold.otf);
    font-weight: 800;
} 

/* all  */
*{
    font-family: "sf ui display";
    margin: 0;
    padding: 0;
}
a{
    color: #585858;
    font-weight: 300;
    text-decoration: none;
    letter-spacing: 0.01em;
    font-style: normal;
}
p{
    letter-spacing: 0.01em;
    color: #000000;
    font-weight: 500;
    line-height: 160%; 
}
button{
    background-color: #FD665E;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    outline: none;
}
.order-1{
    order: 2;
}
.order-2{
    order: 1;
}
.d-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h2{
    font-family: "New York Extra";
    font-size: 48px;
    letter-spacing: -0.04em;
    margin: 0;
}
h3{
    font-weight: 700;
    font-size: 16px;
}

/* navigation menu */
.nav__menu{
    display: flex;
    justify-content: space-between;
    width: 93%;
    /* 1359px/1440 */   
    margin: auto;
    height: 100px;
    align-items: center;
}
.nav__item__col{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* left part nav menu */
.nav__item__col__left{
    width: 43%; 
    /* 581px/1440 */
}
.nav__menu ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 79%;
    /* 459px/581 */
}

/* right part nav menu */
.nav__item__col__right{
    width: 18%;
    /* 248px/1359 */
}
.btn__sing__up{
    width: 100px;
    height: 48px;
}

/* btn burger menu */
.btn__brg__menu{
    display: none;
    box-shadow: none;
    cursor: pointer;
    width: 46px;
    height: 46px;
    border-radius: 0;
    background-color: white;
}
.btn__brg__menu span{
    display: block;
    position: absolute;
    background-color: white;
    height: 3px;
    width: 30px;
    top: 49px;
    right: 35px;
}
.btn__brg__menu span::before, .btn__brg__menu span::after {
    display: block;
    position: absolute;
    height: 3px;
    width: 30px;
    content: "";
    background-color: white;
}
.btn__brg__menu span::before {
    top: -10px;
}
.btn__brg__menu span::after {
    bottom: -10px;
}
.animation__menu {
    background-color: #FD665E;
}

/* animation burger menu */
.animation__menu span {
    transition: background 0s .3s;
}
.animation__menu span::before, .animation__menu span::after {
    transition-duration: .3s, .3s;
    transition-delay: .3s, 0s;
}
.animation__menu span::before {
    transition-property: top, transform;
}
.animation__menu span::after {
    transition-property: bottom, transform;
}

/* is active */
.animation__menu.is__active span {
    background-color: #FD665E;
}
.animation__menu.is__active span::before {
    top: 0;
    transform: rotate(-45deg);
}
.animation__menu.is__active span::after {
    bottom: 0;
    transform: rotate(45deg);
}
.animation__menu.is__active span::before, .animation__menu.is__active span::after {
    transition-delay: 0s, .3s;
} 

/* mobile L btn burger menu */
@media (max-width: 426px) {
    .btn__brg__menu span{
        right: 23px;
    }
}

/* mobile M btn burger menu */
@media (max-width: 376px) {
    .btn__brg__menu span{
        right: 20.5px;
    }
}

/* mobile btn burger menu */
@media (max-width: 320px) {
    .btn__brg__menu span{
        right: 18.7px;
    }
}

/* laptop nav menu */
@media (max-width: 1024px) {
    .nav__item__col__left{
        width: 50%;
    }
    .nav__item__col__right{
        width: 25%;
    }
}
@media (max-width: 900px) {
    .nav__item__col__left{
        width: 70%;
    }
}

/* tablet nav menu */
@media (max-width: 768px) {
    .nav__item__col__left{
        width: 65%;
    }
    .nav__item__col__right{
        display: none;
    }
    .btn__brg__menu{
        display: block;
    }
}
@media (max-width: 680px) {
    .nav__item__col__left{
        width: 90%;
    }
}

/* mobile L nav menu */
@media (max-width: 426px) {
    .nav__menu ul{
        display: none;
    }
}


/* main */
.container{
    width: 77%;
    /* 1110px/1440 */
    margin: auto;
    margin-top: 50px;
}
.row{
    display: flex;
    justify-content: space-between;
}

/* title */
.title__site{
    width: 78%;
    /* 870px/1110 */
    font-size: 112px;
    font-family: "New York Extra";
    color: #000000;
    letter-spacing: -0.04em;
    
}
.title__site span{
    font-family: "New York Extra";
    color: #FD665E;
}

/* laptop title */
@media (max-width: 1024px) {
    .title__site{
        margin-top: 30px;
        font-size: 90px;
    }
}
@media (max-width: 920px) {
    .title__site{
        font-size: 70px;
    }
}

/* tablet title */
@media (max-width: 768px) {
    .title__site{
        font-size: 65px;
    }
}

/* button Free Consultation */
.btn__free__consultation{
    width: 179px;
    height: 56px;
}
.btn__free__consultation{
    margin-bottom: 75%;
}


/* laptop first row */
@media (max-width: 1024px) {
    .row{
        flex-direction: column;
        align-items: center;
    }
    .order-1{
        order: 1;
    }
    .order-2{
        order: 2;
    }
    .description{
        width: 50%;
    }
    .d-flex{
        flex-direction: row;
        align-items: center;
    }
    .btn__free__consultation{
        margin-bottom: 0;
    }
}

/* mobile first row */
@media (max-width: 426px) {
    .d-none{
        display: none;
    }
    .description{
        width: 100%;
    }
    .d-flex{
        flex-direction: column;
        align-items: baseline;
    }
    .btn__free__consultation{
        margin-top: 35px;
        align-self: center;
    }
}

/* slider title */
.slider__row{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 112px;
}
.slider__block{
    width: 765px;
    display: flex;
    justify-content: space-between;
}
.slider__title{
    width: 535px;
}
.btn__slider{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* laptop slider title */
@media (max-width: 1024px) {
      
}

/* tablet slider title */
@media (max-width: 768px) {
    .slider__title{
        width: 80%;
    }
}

/* mobile L slider title */
@media (max-width: 426px) {
    .slider__row{
        justify-content: center;
    }
    .slider__block{
        display: flex;
        flex-direction: column;
    }
    .slider__title{
        width: 100%;
    }
    .btn__slider{
        margin-top: 70px;
    }
}

/* slider */
.slider__vision{
    margin: 45px 0 0 11%;
    overflow: hidden;
}
.slider__inner{
    display: flex;
    transition: .5s all;
}
.slider__item{
    margin-right: 20px;
}

/* mobile L slider */
@media (max-width: 426px) {
    .slider__vision{
        margin: 25px 0 0 11%;
    }
}

/* mobile slider */
@media (max-width: 321px) {
    .slider__vision{
        margin: 25px 0 0 2.5%;
    }
}

/* Build your... */
.services__title{
    width: 41%;
    margin-top: 128px;
    margin-bottom: 40px;
}
.span__services{
    font-family: "New York Extra";
    font-size: 48px;
    letter-spacing: -0.04em;
}

/* laptop services title*/
@media (max-width: 1024px) {
    .services__title{
        width: 51%;
    }
}

/* tablet services title*/
@media (max-width: 768px) {
    .services__title{
        width: 61%;
    }
}

/* mobile L services title*/
@media (max-width: 426px) {
    .services__title{
        width: 61%;
    }
    .span__services{
        font-family: "New York Extra";
        font-size: 48px;
        letter-spacing: -0.04em;
        color: #FD665E;
    }
}

/* services */
.parent_services{
    display: flex;
    flex-direction: column;
}
.item__services{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 373px;
    height: 121px;
    margin-top: 40px;
}
.content__services p{
    margin-top: 12px;
    width: 305px;
}

/* та же кнопка, что и в начале, но с uppercase и другого размера */
.btn__free__consultation__2{
    width: 204px;
    height: 56px;
    margin: 20px 0 0 65px;
}
.text__transform{
    text-transform: uppercase;
}

/* mobile L services */
@media (max-width: 426px) {
    .services__img{
        width: 320px;
    }
    .item__services{
        width: 100%;
        height: 100%;
    }
    .item__services img{
        display: none;
    }
    .content__services p{
        width: 250px;
    }
    .btn__free__consultation__2{
        margin: 20px 0 0 12%;
    }
}

/* mobile services */
@media (max-width: 375px) {
    .btn__free__consultation__2{
        margin: 20px 0 0 8%;
    }
}

/* background html */
.container__fluid{
    background-color: #F9F9F9;
    margin-top: 64px;
}

/* title comments */
.title__comments{
    width: 33%;
    padding-top: 64px;
}

/* laptop title comments */
@media (max-width: 1024px) {
    .title__comments{
        width: 50%;
    }
}

/* tablet title comments */
@media (max-width: 768px) {
    .title__comments{
        width: 70%;
    }
}

/* mobile L title comments */
@media (max-width: 426px) {
    .title__comments{
        width: 80%;
    }
}

/* slider comments */
.background__comments{
    display: flex;
    justify-content: flex-end;
}
.block__comments{
    width: 875px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 45px;
}
.parent__comment__slider{
    display: flex;
    flex-direction: column;
}
.item__comment__slider p{
    width: 765px;
    font-size: 32px;
    font-weight: 300;
}
.under__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.name{
    font-weight: 700;
}

/* laptop slider comments */
@media (max-width: 1024px) {
    .item__comment__slider p{
        width: 700px;
        font-size: 26px;
    }
}

/* tablet slider comments */
@media (max-width: 768px) {
    .item__comment__slider p{
        width: 500px;
        font-size: 26px;
    }
}

/* mobile L slider comments */
@media (max-width: 426px) {
    .item__comment__slider p{
        width: 300px;
        font-size: 20px;
    }
    .kov{
        display: none;
    }
    .under__item{
        flex-direction: column;
    }
}

/* mobile slider comments */
@media (max-width: 320px) {
    .item__comment__slider p{
        width: 250px;
        font-size: 20px;
    }
}

/* pre end */
.pre__end{
    display: flex;
}
.pre__end img{
    width: 497px;
}
.pre__end__content{
    width: 500px;
    min-height: 250px;
    margin-top: 250px;
    margin-left: 100px;
}
.end__btn{
    margin: 65px 0 0 0;
}
.pre__end__title span{
    font-family: "New York Extra";
    color: #FD665E; 
}

/* laptop pre end */
@media (max-width: 1024px) {
    .pre__end img{
        width: 400px;
    }
    .pre__end__content{
        margin-top: 180px;
    }
}

/* tablet pre end */
@media (max-width: 768px) {
    .pre__end{
        flex-direction: column;
    }
    .pre__end__content{
        margin: 100px 0 0 0;
        order: 1;
    }
    .end__btn{
        margin: 65px 0 0 0px;
    }
    .pre__end img{
        margin-top: 50px;
        order: 2;
    }
}

/* mobile L pre end */
@media (max-width: 426px) {
    .pre__end__content{
        width: 270px;
    }
    .pre__end img{
        width: 270px;
    }
    .end__btn{
        margin: 65px 0 0 8%;
    }
}

/* our partners */
.our__partners__title{
    margin-top: 120px;
}
.our__parthers{
    display: flex;
    justify-content: space-between;
    min-height: 200px;
    align-items: center;
}
hr{
    background-color: #F0F0F0;
    border: none;
    height: 1px;
}

/* laptop our partners */
@media (max-width: 1024px) {
    .our__parthers img{
        width: 150px;
    }
}

/* tablet our partners */
@media (max-width: 768px) {
    .our__parthers{
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .our__parthers img{
        margin-right: 40px;
    }
}

/* mobile L our partners */
@media (max-width: 426px) {
    .our__parthers{
        margin-top: 50px;
        flex-direction: column;
    }
    
}

/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}
.footer__content{
    list-style-type: none;
    display: flex;
    width: 505px;
    justify-content: space-between;
}

/* mobile L footer */
@media (max-width: 426px) {
    .footer__content{
        flex-direction: column;
    }
    .footer__item{
        margin-bottom: 20px;
    }
}

/* burger menu */
.menu__active {
    display: block;
}
.burger__menu {
    opacity: 0;
    visibility: hidden;
    transition: .55s opacity, .55s visibility;
    min-width: 100px;
    min-height: 200px;
    position: absolute;
    right: 30px;
    top: 80px;
    background-color: white;
}
.burget__menu__tablet {
    display: none;
}
.burger__menu__item {
    list-style-type: none;
    margin-bottom: 10px;
}

@media (min-width: 426px) and (max-width: 768px) {
    .burget__menu__tablet{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
    }
}

/* burger menu mobile */
.burger__menu__mobile{
    display: none;
}

@media (max-width: 426px) {
    .burger__menu{
        right: 15px;
    }
    .burger__menu__mobile{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
    }
}






